<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulo</title>
</head>
<body>
    <h1>Bem vindo {{nome}}, a sua Lista de Tarefas!</h1>
    <h2>Lista de Tarefas</h2>
    <a href="{% url 'tarefas:adicionar' %}">Adicionar Tarefa</a>
    <table border="1">
        <thead>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Data de Criação</th>
            <th>Situação de Conclusão</th>
        </thead>
        <tbody>
            {% for tarefa in tarefas %}
                <tr>
                    <td>{{ tarefa.nome }}</td>
                    <td>{{ tarefa.descricao }}</td>
                    <td>{{ tarefa.data_criacao }}</td>
                    <td>{{ tarefa.completo|yesno:"Concluída,Não Concluída" }}</td>
                    <td><a href="{% url 'tarefas:editar' tarefa.id %}">Editar</a></td>
                    <td><a href="{% url 'tarefas:remover' tarefa.id %}">Remover</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>